DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=deligo
DATABASE_PASSWORD=your_password_here
DATABASE_NAME=deligo

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=30

OTP_TTL_SECONDS=300
OTP_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=3
